body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hero {
    padding: 80px;
}

.hero h1 {
    font-size: 50px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

section {
    padding: 60px;
}

.projects {
    display: flex;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}
